body{
	background-color: #fff;
}
.menu {
	width: 100%;
	height: 170px;
	background-color: #2E2C30;
}
nav {
position: absolute;
width:50%;
height: 88px;
left: 40%;
top: 12%;
}
nav li {
		display: inline;
	margin: 0 5px 0 15px;
}
nav a {
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
/* or 162% */
color: #ffffff;
}
a:link 
{ 
 text-decoration:none; 
} 
nav a:hover {
	color: #F26C7F;
	text-decoration: underline;
}
.logo{
	width: 10%;

	position: absolute;
	left: 5%;
	top: 2%;
}
.btn {
/*posição*/
	position: absolute;
	width: 132px;
	height: 43px;
	left: 82%;
	top: 9.5%;
/*botão estilo*/
	background:#FFD819;
	box-shadow: 5px 4px 8px 2px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}
button p {
	position: absolute;
	width: 172px;
	height: 88px;
	left: 32%;
	top: -60%;
/*texto*/
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	/* or 186% */
	display: flex;
	align-items: center;
	text-align: center;
	color: #000;
}
.title-principal {
	font-size: 40px;
	text-align: center;
}
.serviço-1 {
 position: absolute;
 left: 15%;
 top: 45%;

 width:200px;
 height:250px;
 background-color: #393f40;
 border: 3px solid;
 border-color: #2E2C30;
 border-radius: 12px;
}
.img-servico {
	width: 100%;
	height: 100%;
	border-radius: 12px;
	opacity: 0.4;
}
.text-servico {
	font-family: Open Sans;
	font-weight: bold;
	color: #ffffff;
	font-size: 25px;
	text-align: center;

	position: absolute;
	top: 40%;
	left: 3%;
}
.serviço-2 {
 position: absolute;
 left: 42%;
 top: 45%;

 width:200px;
 height:250px;
 background-color: #393f40;
 border: 3px solid;
 border-color: #2E2C30;
 border-radius: 12px;
}
.serviço-3 {
 position: absolute;
 left: 69%;
 top: 45%;

 width:200px;
 height:250px;
 background-color: #393f40;
 border: 3px solid;
 border-color: #2E2C30;
 border-radius: 12px;
}
.box-footer {
	position: absolute;
	width: 100%;
	height: 232px;
	left: 0px;
	top: 100%;

	background: #01497C;

}
.logo-footer {
	position: absolute;
	left: 10%;
	top: 10%;
	width: 10%;
}
.text-footer {
position: absolute;
left: 11%;
top: 65%;

font-family: Arial Rounded MT;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 26px;
/* or 186% */

display: flex;
align-items: center;

color: #FFFFFF;
}
.estado {
font-family:  Arial Rounded MT;
font-style: normal;
font-weight: normal;
font-size: 18px;
color: #ffffff;

position: absolute;
top: 25%;
left: 65%;
}
.text-footer2 {
position: absolute;
top: 35%;
left: 65%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 26px;
/* or 186% */

display: flex;
align-items: center;

color: #FFFFFF;
}